@import "/styles/varibles";
@import "/node_modules/easyscss-kevin/components/components";
@import "/node_modules/easyscss-kevin/components/functions";


@media screen and (max-width:920px){


    profile{

        margin-top: 2vh;
        height: 40vmax;
        background-image: url("/assets/images/projects/image2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-size: cover;
        background-attachment: fixed;
        background-origin: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        clip-path: polygon(100% 0, 100% 86%, 78% 82%, 60% 88%, 41% 83%, 19% 88%, 0 83%, 0 0);
        .descText{
            flex: 1 1 auto;
            background-color: rgba(0, 0, 0, 0.692);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

    }

}


// about

.about_me{

    img{
        width: 70%!important;
        padding: 50px;
        z-index: 1000;
        border-radius: 20px!important;  
    }

    
    &::before{
        position: absolute;
        content: "";
        width: 60%;
        height: 50%;
        // background-color: rgb(255, 255, 255);
        transform: translateX(30px) translateY(20px);
        // border-radius: 10px;
        border: 5px solid rgb(255, 255, 255);

        
    }

    
}

.custom-btn{
    // border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}

// certication container


.eduWrapper{

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    .certificate-Wrapper{
        border: .1rem solid rgb(224, 221, 221);
        display: grid;
        grid-template-columns: 1fr;
        background-color: white;
        padding: 10px;


        h4{
            margin: 0px;
            padding: 0px;
            padding-left: 10px;
            font-size: 0.9rem;
            color: $color-primary-4;
        }

        p{
            color: rgb(133, 131, 131);
            margin: 0px;
            padding: 0px;
            // border: 2px solid red;
            padding: 10px;
            
        }
        span{
            color: rgb(133, 131, 131);
            text-align: end;
        }



    }

    

&::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 30vh;
    width: 70vw;
    left: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-right-color: transparent;
    transform: translateY(20px);
    z-index: -1;
    
}


&::after{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 30vh;
    width: 3vmax;
    // border-radius: 50%;
    // background-color: rgb(4, 141, 253);
    left: 7px;
    top: 90px;   
}




}

}