
.methodology{
    background-color: goldenrod;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: 't t'
                        'b b';
    padding: 40px;
    
    &__header{
        grid-area: t;
        grid-column: 1/-3;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h4{
            font-size: 3rem;
        }
    }

    .methodology__container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-area: b;
        grid-column: 2/-2;
        grid-gap: 30px;
        
    }

    .methodology__item{
    
        background-color: rgb(255, 255, 255);
        // height: 300px;
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        padding: 3vmax;
        border-radius: 10px;

        &--icon{
            display: flex;
            flex-direction:column;
            justify-items: center;
            // border: 1px solid red;
            align-items: center;

            img{
                width: 100%;
                max-width: 100%;
            }
            
        }

        &--title{
            // color: red;
            

            h4{
    
                display: flex;
                flex-direction: row;
                padding: 0px!important;
                margin: 0px;
                margin-top: 5px;
                margin-bottom: 5px;
                align-content: center;
                justify-items: center;
                align-items: center;
                grid-gap: 10px;

                span:nth-child(1){
                    color: rgb(0, 140, 255);
                    font-size: 1.6rem;
                    
                    
                    
                }
                span:nth-child(2){
                    color: rgb(24, 24, 24);
                    font-size: 0.9rem;
                }

                
            }
            
            

        }

        &--desc{

            p{
                color: rgb(184, 184, 184);
                margin-top: 0px;
            }
        }
        


    }
}