
// As hex codes */

$color-primary-0: #301E8C;	// Main Primary color */
$color-primary-1: #4C31D3;
$color-primary-2: #9181E1;
$color-primary-3: #1C124E;
$color-primary-4: #221B45;



// As RGBa codes */

$rgba-primary-0: rgba( 48, 30,140,1);	// Main Primary color */
$rgba-primary-1: rgba( 76, 49,211,1);
$rgba-primary-2: rgba(145,129,225,1);
$rgba-primary-3: rgba( 28, 18, 78,1);
$rgba-primary-4: rgba( 34, 27, 69,1);


