@mixin gridBox ($columns){
    display: grid;
    grid-template-columns: $columns;

}


@mixin flexBox ($direction){
    display: flex;
    grid-template-columns:$direction;
}

@mixin  centerGrid ($column){

    @include gridBox($column);
    justify-items: center;
    
}


@mixin  centerFlex ($direction){

    @include flexBox($direction);
    align-items: center;
    

}


@mixin  alignFlexCenter {
    display: flex;
    align-items: center;
    
}


@mixin shadow{
    
}




@mixin sectionTitle{
    text-align: center;
    color: $accent-color!important;
    font-size: 1.5rem;
    padding: 15px;

}


// Themes

@mixin  darkTheme {
    background-color: $primary-color-dark;
    color: $primary-color-text;
}

@mixin  lightTheme {
    background-color: $primary-color-text;
    color: $primary-color-dark;
}




/* ===========responsive=============*/

@mixin desktop ($column){

    display: grid;
    grid-template-columns: $column;

}


/* ===========responsive=============*/