html,
body{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100%;
}



/* layout */




/* tipography */
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0px;
    margin: 0px;
}

p{
    padding: 0px;
    margin: 0px;
}