
@import url("/assets/css/tipography.css");



/* layout */
div.App{
        
    padding-bottom: 40px;
    
}


/* header wraper */
section.header-wrapper{
    background-color: var(--main-Bg--);
    padding-bottom: 15%;
    background-image: url('/assets/images/bg.jpg');
    /* background-image: url("https://camo.githubusercontent.com/044d219b987b706f28dabd9346ee8d0ee48d0dc36bb914c85786d40dd151dba4/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f4c3152317476493973766b495777705659722f67697068792e676966"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    ;
    
    
    
    

}

nav.navbar{

    display: grid;
    grid-template-columns: 1fr 1fr;


}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    

    
}

.profile-image{

    display: flex;
    flex-direction: column;
    align-items: center;
   

    
}
.profile-image img{
    width: 35%;
    border-radius: 50%;
    padding: 5%;
    /* border: 2px solid rgb(28, 236, 236); */
    background-color: rgba(138, 138, 138, 0.178);
    object-fit: contain;
    
    

    
}

.profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     
}

.social-media-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 4px;
}
.social-media-icons span{
    margin: 2px;
    font-size: 2rem;

}

/* header wraper end*/


section.body-wrapper{
    /* border: 2px dashed; */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 8px;

    
    
}

.info-container{
    height: auto;
    border-radius: 5px;
    

   


}

.call-to-action{
    height: 90px;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    
}

footer{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position:fixed;
    bottom: 0px;
    /* top: 0px; */
    width: 100%;
    
    
}