@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import "modules/palette";
@import "modules/functions";
@import "modules/components";
@import "modules/variables";
@import "modules/typography";
@import "modules/devices/desktop";


// Always use table of contents
// 1-global styles
// 2-typography
// 3-components
//    3.1 buttons

/*==========global styles=======*/

body{
    height: 100%;
}
*{
    outline: none;
    list-style: none;
    text-decoration: none;

}

span{

    a{
        color: $primary-color-dark;
    }

}

ul{
    padding: 0px;
    margin:0px;

    li{
        margin: 0px;
        padding: 0px;
    }

}

/*==========global styles end=======*/


/*============App===========*/
App{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width:$tablets){

        
    }
}

/*============App===========*/

/*===========navigation=======*/

navigation{
    @include gridBox(1fr);
    padding: 10px;
    box-shadow: 3px 2px 3px -1px rgba(140,140,140,0.5);
    position: fixed;
    width: 100%;
    background-color: $primary-color-text;
    z-index: 10000;
    @media screen and (min-width:$tablets){
    }

    .menuBtn{
        @include alignFlexCenter();
        justify-content: flex-start;
        font-size: $logo-size;

        .nav{
            display: none;
        }

        @media screen and (min-width:$tablets){

            grid-column: 2;
            justify-content: flex-end;

            i{
                display: none;
            }

            .nav{
                
                display: flex;
                flex-direction: row;
                grid-gap: $pad + 30;

                &__items{

                    &:nth-last-child(1){
                        
                        border: 2px solid transparent;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        padding: $pad - 4;
                        border-radius: 2px;
                        background-color: $primary-color;
                        transition: border-radius 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                        margin-right: 20px;
                        

                        &:hover{
                            background-color: $primary-color-dark;
                            border-radius: 5px;
                            
                        }
                        
                        a{
                            font-size: 0.7rem!important;
                            font-weight: bold;
                            color: $primary-color-text;
                            
                        }

                    }
                }
                a{
                    font-size: 1rem;
                    
                    transition: color 0.5s;
                    color: $primary-color-dark;
                    
                    &:hover {
                        color: $primary-color;
                    }
                    

                }

            }

            

        }


    }

    .logo{
        font-size: $logo-size;
        margin: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
        @include centerFlex(column);

        @media screen and (min-width:$tablets){
            grid-row: 1;
            justify-content: flex-start;
        }
    }
}

/*===========navigation end=======*/


/*===========profileCard=======*/

.profileCard{

    @extend .card;
    display: grid;
    margin: 0px!important;
    
    @media screen and (min-width:$tablets){
        background-color: $accent-color!important;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "l r";
        background-image:url("./modules/images/bg.jpg");
        background-position: center;
        background-clip: border-box;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;




    }

    .name{
        
        @include alignFlexCenter();
        justify-content: center
    }

    &__image{
        @include alignFlexCenter();
        justify-content: center;
        padding-top: 60px;
        @media screen and (min-width:$tablets){
            grid-area:r;

            img{
                width: 40%;
            }

        }
        img{
            width: 60%;
            border-radius:50%;
            
        }
    }

    &__desc{
        padding: $pad;
        @media screen and (min-width:$tablets){
            grid-area:l;
            @include alignFlexCenter;
            justify-content: center;
            display: flex;
            flex-direction: column;
            
            
        }
    }

    &__desc--links{
        @include alignFlexCenter();
        justify-content: center;       
        span{
            margin: $marg;
            font-size: 1.6rem;
            @media screen and (min-width:$tablets){
                font-size: 2rem!important;
            }
            
        }
    }

    &__desc--intro{
        @include alignFlexCenter();
        justify-content: center;
        

        p{
            display: flex;
            padding: 0px;
            text-align: center;
            @media screen and (min-width:$tablets){
                width: 80%;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
        
    }


}

/*===========profileCard end=======*/

/* content-top === container ===*/

.contentTop{

    @include gridBox(1fr);
    @media screen and (min-width:$tablets){
    @include gridBox(repeat(12,1fr));
    }

    &__child{
    @media screen and (min-width:$tablets){
        grid-column: 2/-2;
    }
    }


}



/* content-top === container ===*/

/*==========buttons==========*/
.button{
    border: 1px solid transparent;
    background-color: $primary-color;
    padding: $pad;
    transition: background-color 0.4s;
    

    &__link{
        color: $primary-color-text;
        text-decoration: none;    
    }

    &:hover{
        background-color: $accent-color;
    }

}

.btn-aboutMe{
    align-self: flex-end!important;
    justify-self: flex-end!important;
    
    


}
.calltoAction-btn{

    @media screen and (min-width:$tablets){
    width: 40%;
    padding: 0;
    margin: 0px;
    justify-self: center;
    align-self: center;
    height: 40%;
    }
    
}


/*==========buttons ends==========*/


/*==========cards==========*/
.card{
    @include darkTheme;
    padding: $pad;
    margin: $marg;
    

    &__text{
        color: $primary-color-text;
    }

    &__title{
        color: $primary-color-text;
        
    }

    &__heroText{
        display: flex;
        flex-direction: column;
        
        @media screen and (min-width: $tablets){
            @include gridBox(1fr 1fr);

            p{
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
                align-self: flex-end;
                justify-self: flex-end;
                
                
            }

        }
        
        

    }

    &__skills{

        @media screen and (min-width:$tablets){
            
            img{
                width: 50%!important;
            }
            
        }

        img{

            width: 80%;
        }
    }
}

/*==========projects==========*/

.project{
    @media screen and (min-width:$tablets){
        @include gridBox(1fr 1fr);
        grid-gap: 10px;
        padding: 100px;
    }
}

.projectCard{
    @extend .card;
    padding: 0;
    @include gridBox(1fr);   


    &__img{
        img{
            width: 100%;
        }

    }

    &__title{
        @include alignFlexCenter();
        justify-content: center;
        


    }

    &__desc{
        padding: $pad;
        @include alignFlexCenter();
        justify-content: center;


    }

    &__links{
        @include gridBox(1fr 1fr);
        grid-gap: 10px;
        padding: $pad;

    }
}
/*==========projects end==========*/

/*==========testimony section==========*/



.testimony{

    
    

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $pad * 6;

    @media screen and (min-width:$tablets){
        grid-template-columns: 1fr 1fr;
        grid-gap: $pad;
        
    }


   

    &__wrapper{

        border: 1px solid white;
        background-color: $primary-color-text;
        color: $primary-color-dark;
        padding: $pad * 2;
        padding-top: 0px;
        border-radius: 10px;

    

    }

    &__text{

        padding-top:0px;
        margin-top: 0px;
        font-size: 1.4rem;
        font-weight: bold;
        

        &::before{
            content: "\"";
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 3rem;
            padding: 0px;
            margin-top: 0px;
            position: relative;
            bottom: -40px;
            
        }

        
        



    }

    &__image{
        display: flex;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        
        h4{
            font-size: 1.3rem;
            margin: $marg + 5;
            
        }

        @media screen and (min-width:$tablets){

            img{
                width: 10%;
            }
        }


    }

    img{
        max-width: 25%;
        border-radius: 50%;
        border: 2px solid $primary-color-dark;
    }
}



/*==========testimoy end==========*/

/*=============contact__form=============*/

.contact{

    &__title{

        @include centerFlex(column);
        padding: $marg + 20;
        
        @media screen and (min-width:$tablets){

            font-size: $logo-size + 0.3;
            @include centerFlex(column);
        }
        
    }
}


.contact__form{
    
    form{

        @include gridBox(1fr);
        grid-gap: $pad;
        
        .inputForm{
            display: flex;
            flex-direction: column;
            
            input{
                height: 40px;
                border: 1px solid transparent;
                border-radius: 2px;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: $font;


                &::placeholder{
                    font-size: 1rem;
                    font-weight: 400;
                    padding: $pad + 5;
                    color: $primary-color-dark;

                }   
            }
            textarea{
                height: 100%;
                border: 1px solid transparent;
                border-radius: 2px;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: $font;
                


                &::placeholder{
                    font-size: 1rem;
                    font-weight: 400;
                    padding: $pad + 5;
                    color: $primary-color-dark;

                }
            }


            


        }

        .submit{
            @include centerFlex(column);
            
        }

        .submit-btn{
            color: white;
            width: 30%;
           
        }
        

    }

}

/*=============contact__form end=============*/

/*==========menu footer==========*/

.fixedmenu{
    padding: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0px;
    background-color: $primary-color-text;
    width: 100%;
    height: 10%;
    box-shadow: 1px -3px 3px -1px rgba(0, 0, 0, 0.082);
    @media screen and (min-width:$tablets){
        display: none;
    }


    &__ul{
        $grid-4 : repeat(4,1fr);
        @include gridBox($grid-4);
        
    }

    &__items{
        @include gridBox(1fr);
        justify-items: center;

        span:nth-child(2) {
        font-size: .8rem; 
        }

        span:nth-child(1) {
            font-size: 1.3rem; 
            color: $primary-color;
        }
        
    }




    
}

/*==========menu footer==========*/



/*section_title*/
.section_title{
    
    @include sectionTitle;

}

/*section_title end*/
