html{

    scroll-behavior: smooth;

}


// ==========colors
// As hex codes */
$color-primary-0: #112466;	// Main Primary color */
$color-primary-1: #13349F;
$color-primary-2: #152E7E;
$color-primary-3: #081747;
$color-primary-4: #050D2A;
$main-text-color : white;

$btn-BG : rgb(0, 153, 255);
$btn-Hover:rgb(6, 118, 209);
$btn-FS :1rem;


// Typography
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

html,
body {
    font-size: 90%;
    padding: 0px;
    margin: 0px;
} /*12px*/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  
}



    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        color: $main-text-color;
        font-size: 1.3rem;
    }
    p{
        color: $main-text-color;
        font-size: 1.1rem;
    }

    
h7{

    font-size: 1.7rem;
    font-weight: bold;
    display: none;
    color: $color-primary-4;

}


    intro{
        color: $color-primary-4;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        padding: 25px;
        border: 2px solid transparent;
        border-bottom-color: $color-primary-4;
    }




    @keyframes rotate {

        from{
            // transform:translateY(40px);
            border: 2px dashed white;
            opacity: 0.9;
        }
        
        to{
            // transform:translateY(40px);
            border: 2px solid rgb(185, 7, 67);
            opacity: 1;
        }
    }

@keyframes colorAnimate {
        0%{
        background-position:0% 63%;
        border-bottom-color: transparent;
        border-right-color: transparent;
        }
        50%{background-position:100% 38%;
        border-bottom-color: white;
        border-right-color: white;
        }
        100%{background-position:0% 63%}
    }
    