@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
html,
body {
  font-size: 90%;
  padding: 0px;
  margin: 0px;
}

/*12px*/
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-size: 1.3rem;
}

p {
  color: white;
  font-size: 1.1rem;
}

h7 {
  font-size: 1.7rem;
  font-weight: bold;
  display: none;
  color: #050D2A;
}

intro {
  color: #050D2A;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  border: 2px solid transparent;
  border-bottom-color: #050D2A;
}

@-webkit-keyframes rotate {
  from {
    border: 2px dashed white;
    opacity: 0.9;
  }
  to {
    border: 2px solid #b90743;
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    border: 2px dashed white;
    opacity: 0.9;
  }
  to {
    border: 2px solid #b90743;
    opacity: 1;
  }
}

@-webkit-keyframes colorAnimate {
  0% {
    background-position: 0% 63%;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  50% {
    background-position: 100% 38%;
    border-bottom-color: white;
    border-right-color: white;
  }
  100% {
    background-position: 0% 63%;
  }
}

@keyframes colorAnimate {
  0% {
    background-position: 0% 63%;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  50% {
    background-position: 100% 38%;
    border-bottom-color: white;
    border-right-color: white;
  }
  100% {
    background-position: 0% 63%;
  }
}

/*display Grid*/
/*display Grid function*/
/*display Flex function*/
/*display Grid function*/
/* 
===============
button component
===============
*/
/* button endcomponent*/
/* 
==============
card component
==============
*/
/* 
==============
card end component
==============
*/
/* 
==============
content card component
==============
*/
/* 
==============
content card end component
==============
*/
@media screen and (max-width: 920px) {
  body {
    background-color: #f5fcff;
  }
  .moreProjects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .moreProjects a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #050D2A;
    background-color: #050D2A;
    margin: 10px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
  }
  .title {
    color: #050D2A;
    text-align: center;
    font-size: 4vmax;
    padding: 0px;
    margin: 10px;
    text-transform: capitalize;
  }
  .title::after {
    content: "";
    background-color: #0077ff;
    height: 3px;
    width: 40px;
    position: absolute;
    -webkit-transform: translateY(36px) translateX(-40px);
            transform: translateY(36px) translateX(-40px);
  }
  App {
    width: 100%;
    max-width: 100%;
  }
  /*======head====*/
  section.head {
    display: -ms-grid;
    display: grid;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    /*======head end====*/
  }
  section.head nav {
    background-color: #050D2A;
    position: fixed;
    width: 100%;
    z-index: 10000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.head nav logo {
    padding: 0px;
  }
  section.head nav logo h4 {
    color: transparent;
    margin: 2px;
    background: linear-gradient(229deg, #f2659b, #02bcc6);
    background: linear-gradient(229deg, #f2659b, #02bcc6);
    background-size: 400% 400%;
    -webkit-animation: colorAnimate 6s ease infinite;
            animation: colorAnimate 6s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
  }
  section.head profile {
    /*<---profileImage---*/
    /*<---profileImage end---*/
    /*<---profile description---*/
    /*<---profile description---*/
  }
  section.head profile profileImage {
    color: #050D2A;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  section.head profile profileImage img {
    margin: 30px;
    display: block;
    width: 10% 0%;
    max-width: 90%;
    max-height: 99%;
  }
  section.head profile profile_desc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    color: #050D2A;
  }
  section.head profile profile_desc name * {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  section.head profile profile_desc desc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    color: #050D2A;
  }
  section.head profile profile_desc desc socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.head profile profile_desc desc socialmedia a {
    color: #050D2A;
    font-size: 5vmax;
    text-decoration: none;
  }
  section.head profile profile_desc desc p {
    margin-top: 3px;
    padding: 20px;
    padding-top: 0px;
  }
  /*======head====*/
  hr#separator {
    color: red;
    background-color: #d6d9da;
    border: 1px solid transparent;
    width: 25%;
    height: .5px;
  }
  section.body {
    display: -ms-grid;
    display: grid;
    grid-gap: 2px;
    margin-bottom: 10vh;
    /*======project===*/
  }
  section.body contentCard.card {
    margin: 5px;
    background-color: #050D2A;
  }
  section.body contentCard.card .card__img {
    place-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  section.body contentCard.card .card__img img {
    display: block;
    image-rendering: optimizeSpeed;
    width: 99%;
    max-width: 99%;
    max-height: 90%;
    display: block;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.body contentCard.card .card__title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  section.body contentCard.card .card__title .balls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  section.body contentCard.card .card__title .balls div {
    width: 10px;
    height: 10px;
    margin: 1.4%;
    border-radius: 50%;
  }
  section.body contentCard.card .card__title .balls div:nth-child(1) {
    background-color: #08b690;
  }
  section.body contentCard.card .card__title .balls div:nth-child(2) {
    background-color: #068cca;
  }
  section.body contentCard.card .card__title .balls div:nth-child(3) {
    background-color: #ffa600;
  }
  section.body contentCard.card .card__desc {
    padding: 15px;
    padding-top: 0px;
  }
  section.body contentCard.card .card__desc p {
    padding-top: 0px;
  }
  section.body contentCard.card .card__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  section.body contentCard.card button {
    border: 1px solid transparent;
    width: 100%;
    height: 5vmax;
    font-size: 1rem;
    background-color: white;
    outline: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    border-radius: 2px;
  }
  section.body contentCard.card button a {
    text-decoration: none;
    color: #050D2A;
  }
  section.body contentCard.card button:hover {
    background-color: #152E7E;
  }
  section.body contentCard.card .card__title * {
    margin: 2px;
  }
  section.body projects {
    display: -ms-grid;
    display: grid;
    padding: 5px;
    grid-gap: 10px;
  }
  section.body projects Projectcard.card {
    background-color: #081747;
  }
  section.body projects Projectcard.card .card__img {
    place-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  section.body projects Projectcard.card .card__img img {
    image-rendering: optimizeSpeed;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.body projects Projectcard.card .card__title {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px;
    padding-bottom: 0px;
  }
  section.body projects Projectcard.card .card__desc p {
    margin: 20px;
  }
  section.body projects Projectcard.card .card__button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  section.body projects Projectcard.card .card__button button {
    margin: 10px;
  }
  section.body projects Projectcard.card .card__img {
    padding: 0px;
    width: 100%;
    margin: 0px;
    max-width: 100%;
  }
  section.body projects Projectcard.card .card__title * {
    margin: 0px;
    padding: 0px;
  }
  section.body projects Projectcard.card .card__desc p {
    margin: 10px;
  }
  section.body projects Projectcard.card .card__button button {
    border: 1px solid transparent;
    width: 40vw;
    height: 40px;
    font-size: 1rem;
    background-color: #0099ff;
    outline: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    border-radius: 2px;
  }
  section.body projects Projectcard.card .card__button button a {
    text-decoration: none;
    color: white;
  }
  section.body projects Projectcard.card .card__button button:hover {
    background-color: #0676d1;
  }
  .testimonyWrapper {
    margin-bottom: 10vh;
  }
  .testimony {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border: 2px solid #081747;
    padding: 10px;
    border: 5px solid transparent;
    border-top-color: white;
    border-radius: 20px;
    padding: 7px;
    background-color: #517291;
  }
  .testimony__img {
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0px;
    padding: 10px;
  }
  .testimony__img span {
    color: white;
    padding: 0px;
    margin: 20px;
    font-weight: bold;
  }
  .testimony__img img {
    width: 20vw;
    border-radius: 50%;
    background-color: #00a2ff;
    margin: 0px;
    padding: 0px;
    border: 2px dashed white;
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  .testimony::before {
    content: "";
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
  }
  .testimony__text {
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
    color: red;
  }
  .testimony__text p {
    margin: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .testimony__text p::before {
    content: "\"";
    font-size: 10vmax;
    position: absolute;
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
    font-family: cursive;
  }
  #testimonySeparator {
    width: .1px;
    border: 2px solid transparent;
    height: 120px;
    background-color: white;
  }
  /*===============testimony section end*/
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
  }
  .footer__link {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    font-weight: bold;
    color: #050D2A;
    margin: 4px;
    grid-gap: 0px;
  }
  .footer__link span a {
    font-size: 1.8rem;
    color: #050D2A;
    margin: 0px;
  }
  .footer__link span:nth-child(2) {
    margin: 0px;
    font-size: 1rem;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */